ion-header ion-toolbar,
ion-header ion-item {
  --background:#f1f5f8;
  background: #f1f5f8;
}

ion-header ion-toolbar .bordered {
  --border-radius:10px;
  --box-shadow:5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

ion-header ion-item h3 {
  font-weight: 700;
  font-size: 14px;
}

ion-header ion-item p {
  font-weight: 500;
  font-size: 14px;
}

ion-header ion-item ion-avatar {
  --border-radius:40%;
}

ion-content {
  --background:linear-gradient(#373B44,#4286f4);
  --color:white;
}

ion-content .slides {
  background: #f1f5f8;
  padding: 4px 10px 20px 10px;
  border-radius: 0 0 28px 28px;
}

ion-content ion-card {
  width: 100%;
  box-shadow: none;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.8);
}

ion-content ion-card .main {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content ion-card .main img {
  width: 30px;
}

ion-content ion-card .files {
  padding-top: 14px;
}

ion-content .container {
  padding: 6px 20px;
  color: #ffffff;
}

ion-content .container ion-item {
  --background:rgba(255,255,255,.1);
  margin-top: 20px 0;
  --border-radius:14px;
  color: #ffffff;
  font-weight: 600;
}

ion-content .container ion-item ion-label {
  padding: 6px 0;
}

ion-content .container ion-item h6 {
  color: rgba(255, 255, 255, 0.66);
}

ion-content .container h2 {
  padding-bottom: 10px;
}
